  <!-- 剩下的是footer部分 -->
  <footer class="container-fluid text-center" style="background-color: #d3d3d0;">

   <div class="col-sm-4">
   <br>
   <p><strong>相关声明</strong></p>
   <a href="/introduction#copyright"  style="color: inherit;"><p>课程说明</p></a>
   <a href="/introduction#declaration" style="color: inherit;"><p>网站声明</p></a>
   <a href="/introduction#legitster" style="color: inherit;"><p>备案信息</p></a>
   </div>

   <div class="col-sm-4">
   <br>
   <p><strong>关于inta</strong></p>
   <a href="/introduction#patern" style="color: inherit;"><p>小伙伴</p></a>
   <a href="/introduction#sponsor" style="color: inherit;"><p>公众号</p></a>
   <a href="/introduction#thank" style="color: inherit;"><p>特别鸣谢</p></a>
   </div>

   <div class="col-sm-4">
   <br>
   <p><strong>联系方式</strong></p>
   <a href="/introduction#contact" style="color: inherit;"><p>QQ</p></a>
   <a href="/introduction#contact" style="color: inherit;"><p>微信</p></a>
   <a href="/introduction#contact" style="color: inherit;"><p>博客</p></a>
   </div>

   <br>
   <div>
   <strong>w w w . i n t a l e s s o n . c o m</strong>
   </div>

   <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>