  <!-- 剩下的是footer部分 -->
  <footer class="container-fluid text-center" style="background-color: #d3d3d0;">

   <div class="col-sm-4">
   <br>
   <p><strong>相关声明</strong></p>
   <p>课程版权</p>
   <p>网站声明</p>
   <p>法律责任</p>
   </div>

   <div class="col-sm-4">
   <br>
   <p><strong>关于inta</strong></p>
   <p>合伙人</p>
   <p>投资人</p>
   <p>特别鸣谢</p>
   </div>

   <div class="col-sm-4">
   <br>
   <p><strong>联系方式</strong></p>
   <p>QQ</p>
   <p>微信</p>
   <p>博客</p>
   </div>

   <br>
   <div>
   <p>w w w . i n t a . c o m</p>
   </div>

   <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>