<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-size: 27px"><b style="color: #C71585">I</b><b style="color:#5E2CA6">N</b><b style="color: #FFD700">T</b><b style="color: #228B22">A</b>&nbsp;&nbsp;<small><small>all for ease</small></small></a>

      </div>
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <script type="text/javascript">var flag = <%= flag %></script>
        <%  if(flag) { %>
        <li>
         <div class="dropdown">
            <h5 class="btn dropdown-toggle" data-toggle="dropdown"> <%= userN %></h5>
            <ul class="dropdown-menu">
              <li><a>学号:<span style="color:#FF4500"><%= userNo %></span></a></li>
              <li><a href="/users/info/out"><p style="color: #2F4F4F">退出</p></a></li>
              <!-- <li><a href="#">JavaScript</a></li> -->
            </ul>
         </div>
        </li>
        <li><img src="<%= userIcon %>" class="img-circle" style="width:40px;height: 40px;margin-top: 5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <% } else { %>
        <li><a style="padding-left: 0"><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">登录</button></li></a>
        <li><a href="/users" style="padding-left: 0"><button type="button" class="btn btn-info btn-xs" >注册</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <% } %>
      </ul>
    </div>
    <div style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261465709'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261465709' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
  </nav>



