<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<!-- 	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script> -->
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>AutoLayout课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/autolayout/1">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>尺寸</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="/course/autolayout/1">第一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/autolayout/2">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>图像</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="/course/autolayout/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>限制</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第三节</p></a>
    </div>
  </div>
  <!-- 第二行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>限制（续）</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>对齐</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>对齐（续）</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第六节</p></a>
    </div>
  </div>
  <!-- 第三行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>固有尺寸</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>优先级</h3>
            <p>AutoLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>尺寸规格</h3>
            <p>AdaptiveLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第九节</p></a>
    </div>
  </div>
  <!-- 第四行视频 -->
 <div class="row">
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>字体和图像</h3>
            <p>AdaptiveLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">
      <img src="/images/Course/autolayout.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h3>肋木视图</h3>
            <p>AdaptiveLayout</p>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/190995#tuin=2847ea58">第十一节</p></a>
    </div>
  </div>
  <!-- 第五行视频 -->
    <div class="row">
    </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>AutoLayout课程概述</h2>
  <p>AutoLayout是IOS设备的UI界面的搭建接口，可以不写一行代码，直接拖拖拽拽完成UI界面的搭建</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：尺寸</div>
      <div class="panel-body">本节介绍了IOS不同设备之间的尺寸。
      <br>retina屏和普通屏的区别
      <br>像素点和坐标点的映射
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：图像</div>
      <div class="panel-body">
      讲述UIImageView中的图像
      <br>为什么会出现1x 2x 3x的图像
      <br>cpu 和 gpu
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：限制</div>
      <div class="panel-body">
        限制是Autolayout的核心概念
        <br>如何为拖入的UI控件添加限制
      </div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：限制（续）</div>
      <div class="panel-body">添加限制的另一种方法，及其注意事项。</div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：对齐</div>
      <div class="panel-body">本节讲述如何对其UI控件</div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：对齐(续）</div>
      <div class="panel-body">对齐UI控价的另一种方法</div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：固有尺寸</div>
      <div class="panel-body">本节讲述UI控件的固有尺寸
      <br>UIView 没有固有尺寸
      <br>UISlider 只有固有宽度
      <br>UILabel, UIButton, UISwitch 和 Text Field既有宽度又有高度的固有尺寸
      <br>Text View 和 Image View 有内容就有固有尺寸
      </div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：优先级</div>
      <div class="panel-body">限制之间存在优先级，我们可以为其设置优先级</div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：尺寸规格</div>
      <div class="panel-body">本节主要讲述iOS9引入的新特性AdaptiveLayout</div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十节：字体和图像</div>
      <div class="panel-body">根据不同尺寸的设备，显示不同的字体和头像</div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：肋木视图</div>
      <div class="panel-body">肋木视图可以帮助我们简化AutoLayout布局。</div>
    </div>
  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">省时，省力，省心，不就是花点时间学习下儿吗</p>
  <blockquote>
    &nbsp;&nbsp;&nbsp;&nbsp;2012年9月份，随着iOS6发布，xcode也发布了4.5版本，在此版本中，第一次加入了此页面的主题--Autolayout。
    <br>&nbsp;&nbsp;&nbsp;&nbsp;也不知道那年苹果的程序猿初衷是什么，怎么设计出了Autolayout这个东西。对于一个把产品当做艺术品的公司来说，硬件的视觉冲击力，软件的用户体验度是无可厚非需要重视的。但是把程序员的编码体验考虑到产品中，苹果做的也算是厚道了。在不写一行代码的情况下，拖拖拽拽来实现页面布局，不仅能适应手机的不同尺寸，而且还能根据横屏竖屏改变页面的布局，一下子为MVC设计模式的view（视图）部分添加了浓重的一笔，让那些编写视图部分的程序员也从视图编写的“手动挡”变成“自动挡”了。

    <br>&nbsp;&nbsp;&nbsp;&nbsp;autolayout视频全集是2015年完成录制的，那个时候接触iOS已经快一年了。当发现搭建UI界面还有如此简单快捷之方法的时候，当时就决定认真研究一下。秉承的还是个人对计算机发展的观点：一切皆为易。 因为autolayout能让界面的编写变得很容易。当然这个观点不仅仅存在于计算机方面，INTA首页的‘一切皆为易’就是让学习也变成一件很容易的事情。秉着这个观点，在此就多吐槽几行了。很多学生面试回来告诉我:“面试官说：‘答的还可以，就是对底层的了解太少了’”  我就告诉学生，你可以对面试官这样说：“如果工作需要对底层的了解，程序为什么不直接用0101来编呢，不会用二进制编，用汇编编写也行啊。再不济，纯C也能完成iOS项目的编写啊，别用OC啊！” 本来就是嘛！计算机科学的发展不仅仅是让人们会使用计算机，而是让更多的人能驾驭计算机。程序员从最早的稀有物种，到现在的满大街游窜，就是计算机的学习变得容易了，不用再去纠结那些深奥的底层理论，越来越多的人都能迈入编程这个门槛。而正是程序员这种多样性的集思广益，才摩擦出赏心悦目的产品。
    <br></p>
    <footer>INTA 索勇
    &nbsp;&nbsp;&nbsp;&nbsp;感谢www.raywenderlich.com
    </footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

</body>
</html>