<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>Mongoose课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/node/1">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>回调函数</h4>
          </div> 
      </a>
      <a href="/course/node/1">第一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/2">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>全局对象</h4>
          </div> 
      </a>
      <a href="/course/node/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/3">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>module.exports</h4>
          </div> 
      </a>
      <a href="/course/node/3">第三节</p></a>
    </div>
  </div>
  <!-- 第二行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/4">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>核心模块</h4>
          </div> 
      </a>
      <a href="/course/node/4">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/5">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>事件模块</h4>
          </div> 
      </a>
      <a href="/course/node/5">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/6">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(1)</h4>
          </div> 
      </a>
      <a href="/course/node/6">第六节</p></a>
    </div>
  </div>
  <!-- 第三行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/7">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(2)</h4>
          </div> 
      </a>
      <a href="/course/node/7">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/8">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>同步异步</h4>
          </div> 
      </a>
      <a href="/course/node/8">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/9">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Buffer</h4>
          </div> 
      </a>
      <a href="/course/node/9">第九节</p></a>
    </div>
  </div>
  <!-- 第四行视频 -->
 <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/10">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Stream</h4>
          </div> 
      </a>
      <a href="/course/node/10">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/11">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>http模块</h4>
          </div> 
      </a>
      <a href="/course/node/11">第十一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/12">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js架构</h4>
          </div> 
      </a>
      <a href="/course/node/12">第十二节</p></a>
    </div>
  </div>

  <!-- 第五行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/13">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js运行原理</h4>
          </div> 
      </a>
      <a href="/course/node/13">第十三节</p></a>
    </div>
  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>Backbone课程概述</h2>
  <p></p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：Mongodb</div>
      <div class="panel-body">
      
      Mongoose是一个ODM（Object-Document Modeler)
      在一个文件中定义数据模型，灵活维护
      MongoDb最大的document控价就是16M
      到目前的方法：
      1.mongoose.schema
      2.mongoose.model 使用model创建完毕以后，它又是一个对象，又是一个model
      3.mongoose.connect 
      4.mongoose.creteConnection
      5.mongoose.close
      注意mongoose是mongodb和node.js连接的，更加的方便

      当有错误返回是可以使用status(500).send({status:cannot find database})
      可以使用send来代替render，在spa中 

      <br>hash加密：require('crypto')
      var ha = crypto.createHash('sha256')
      shaSum.update(passworld)
      shaSum.degest('hex')


      <br>使用JSON定义schema，有印证，16M也是为了优化整个数据库
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：数据模型</div>
      <div class="panel-body">
        NoSQL最早，也都能实现，还灵活
        SQL安全和稳定
        要知道：一个模型是直接映射到一个文档，模型也包括对文档的增删改查
        schemas类型: String,Number,Date,Boolean,Buffer,ObjectId,Mixed Array
        其实一个model就是对应一个docuemnt
        <br>ObjectId: 像id一样，另外一个唯一的标示。 用于引用，可以使用Schema.Types.ObjectID
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：实现关系方式</div>
      <div class="panel-body">
      1.嵌入文档  2.1.引用
      2.是不是一对一，2.2是不是一对多
      <br>一对多：的情况下，如果需要用到一中的数据，使用embed，如果用不到就使用reference 
      <br>主要schema里有了要引用的model的名字，和应用对象的类型
      createBy:{type: mongoose.Schema.Types.ObjectId, ref:'User'}
      contributors:[ {type: mongoose.Schema.Types.ObjectId,ref:'User'}]
      
      3.使用引用，一般化
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：模式设计</div>
      <div class="panel-body">
      MongoDb没有join，引用后，需要两次才能访问
      1.one to one 就是嵌入进去
      2.one to many 根据Mongodb data Modeling还是嵌入在嵌入


      </div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：Schemas</div>
      <div class="panel-body">
       schemas就是描述数据结构的方式
       var userSchema = new mongoose.Schema({
            name: String,
            email: String,
            createdOn: Date
       })
       schemas：承认的数据类型：
       String,Number,Date,Boolean,Buffer,ObjectID,Mixed,Array
       <br>赋值为速度，引用为集成
       <br>__V 只有document在数组中，改变时才会改变
      </div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：引用</div>
      <div class="panel-body">
      mogodb可以使用嵌入和使用引用
      嵌入改一则只改一
      引用改一则改多
      能用array不要用键值对，array很好访问
      不要让mongodb自己计算，可以使用$where去算
      {$id: identifier, $ref: collectionName,$db: database}
      有评论的一般都用reference tip17
      Population --- references to other collections
      population 就是把一个model的information放到另一个model中

      population步骤：
      1.在schema中设置population，在主sechema中加入使用schema的SchemaType
      2.在主schema中加入键值对：{ type: monoose.Schema.Types.ObjectId, ref: 'User'}
      3.也可以把schema变成数组：contributors:[{ type: monoose.Schema.Types.ObjectId, ref: 'User'}]
      4.只要知道我心中有你一个模型就行，不给模型赋值无所谓，模型会找主id
      5.在创建副Schema式，一定要把主_id写在reference里

      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：Mongodb技巧</div>
      可以把mongodb储存的不同页面放到不同的collection中，一定要使用one query的思想设计数据库
      <div class="panel-body">
        
      </div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：document的值类型</div>
      <div class="panel-body">
        Number Dates Strings objectIds
        ObjectId(12 byte)
        ObjectId这个成 但是mongoose.Schema.Types.ObjectId更牛逼
      </div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：一对多，多对多</div>
      <div class="panel-body">一个产品属于一个类别，但是一个类别有多个产品</div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：Mongoose模型</div>
      <div class="panel-body">
      <br>简单的讲：Mongoose 模型就是编译后的schema，一个modele的实例，就映射出一个database中的document
      在40页中，说的很清楚，一个model的实例就和doucment是一个一一对应的关系
      <br>用model创建一个实例，或者说创建一个doucment
      var User = mongoose.model('User', userSchema)
      Users就是小写的collections    
      一定要注意：Model完成对对象的增删改查
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十节：增删改查</div>
      <div class="panel-body">
      我们可以直接使用save中的data
      第五章是创建数据
      第六章是读取数据
      model.find---返回数组
      model.findone ---返回第一个instance
      model.findById(ObjectID) ---- 返回一个对应的实例
      findById() 找到一个单独的项目

      <br>update():更新匹配的不返回他们
      <br>findOneAndUpdate() 返回
      <br>findByIdAndUpdate() 只是要id   在update的时候肯定要用到相关的Buiding the Commands 这个buiding the command在第82页
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十一节：population 和 subdocuments</div>
      <div class="panel-body">
      <br>不想join，populate是独立的请求。 先找当他返回的时候，再找
      指定键值对在document中连接其他collection的document或者documents。一般使用document

      <br>主ref：告诉谁我需要population
      <br>副ref：关联的ref的type要和主_id一致
      <br>reference 一定要对应其他的object（注意是object）确定的对象
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：node.js架构</div>
      <div class="panel-body">
      本节讲述node.js的架构，内容包括
      <br>操作系统
      <br>v8引擎
      <br>C++编写的底层代码
      <br>node.js API
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十三节：谨记</div>
      <div class="panel-body">
      <br>41也就是mongoose的增删改查
      interacting with instances
      finding a single instance
      finding many instances
      using the Querybuilder
      the three-step find-edit-save approach
      pre and post middleware in mongoose
      错误：如果只创建一个model，每次save其实都是更新此model，所以每一次都要穿件一个model
      tip:尽量不要用_id
      </div>
    </div>


  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">03年混中关村的都赚饱了，08年买房的都赚high了，12年学OC的都买房了，我赌node.js了</p>
  <blockquote>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;我们年龄相仿，但是Ryan Dahl（百度翻译：瑞恩·达尔）在09年都让javascript成为后台服务的开发语言了。niubility!
    <br>&nbsp;&nbsp;&nbsp;&nbsp;那年打dota的有一个叫2009，那年node.js出世了。当时Dahl只有一个想法，就是使用非阻塞I/O使服务器实现大的吞吐量，其实这个构想基本上用任何语言都能实现。但关键是08年google推出了强劲给力的javascript引擎V8。这样，Dahl一不做二不休，搞！ 这种非阻塞的I/O构想和javascript就结合起来了，node.js就出生了。但2012年Dahl就靠边站了，Isaac Z. Schlueter（艾萨客·施吕特）开始接手node.js的项目，对，他就是npm公司的创始人，这也就说明npm为什么是node package manage的缩写了。然后又出事了，由于程序员政治，2014年Fedor Indutny完全拷贝node.js的代码创建了io.js，只不过io.js用的是V8的最新版本。哎，猿界大势，分久必合合久必分,2015年，node.js和io.js又和好了，也就是node的4.0版本，如果你要现在登录io.js的网站，它会告诉你，去node.js网站吧，我不更新了。
    <br>&nbsp;&nbsp;&nbsp;&nbsp;虽说不以物喜，不以己悲，但每次写《那年程序员》总想嘚吧几句，如果大家觉得贫，就在视频的评论处尽情的喷吧。我是2014年开始接触node.js的，依稀记得那时的版本是v0.12.8,看见了吗，那时的版本还没有上1。 现在都v7.x.x了，可见互联网节奏之快。那时，我就非常看好node.js的killer feature ---异步I/O. 所以在网上找了很多关于node.js的相关资料，赤裸裸的数也展示了node.js和apache，nginx在吞吐量和资源使用上的优势。于是赶紧抓住这个先机，想要成为一头风口浪尖的猪，但是两年了，两年了！智联招聘的node.js招聘量还是少的可怜，无可奈何花落去，所有的猿类都爱在坑边徘徊~
    </p>
    <footer>摘自--https://en.wikipedia.org/wiki/Node.js</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

  <!-- 登录注册model -->
  <% include ./partials/modal.html %>

</body>
</html>