<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>Backone课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/node/1">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>回调函数</h4>
          </div> 
      </a>
      <a href="/course/node/1">第一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/2">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>全局对象</h4>
          </div> 
      </a>
      <a href="/course/node/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/3">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>module.exports</h4>
          </div> 
      </a>
      <a href="/course/node/3">第三节</p></a>
    </div>
  </div>
  <!-- 第二行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/4">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>核心模块</h4>
          </div> 
      </a>
      <a href="/course/node/4">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/5">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>事件模块</h4>
          </div> 
      </a>
      <a href="/course/node/5">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/6">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(1)</h4>
          </div> 
      </a>
      <a href="/course/node/6">第六节</p></a>
    </div>
  </div>
  <!-- 第三行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/7">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(2)</h4>
          </div> 
      </a>
      <a href="/course/node/7">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/8">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>同步异步</h4>
          </div> 
      </a>
      <a href="/course/node/8">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/9">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Buffer</h4>
          </div> 
      </a>
      <a href="/course/node/9">第九节</p></a>
    </div>
  </div>
  <!-- 第四行视频 -->
 <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/10">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Stream</h4>
          </div> 
      </a>
      <a href="/course/node/10">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/11">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>http模块</h4>
          </div> 
      </a>
      <a href="/course/node/11">第十一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/12">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js架构</h4>
          </div> 
      </a>
      <a href="/course/node/12">第十二节</p></a>
    </div>
  </div>

  <!-- 第五行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/13">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js运行原理</h4>
          </div> 
      </a>
      <a href="/course/node/13">第十三节</p></a>
    </div>
  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>Backbone课程概述</h2>
  <p></p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：简介</div>
      <div class="panel-body">
      <br>先不用backbone讲一下就正常讲插入div使用jQery
      <br>在讲underscore的一些语法，之所以叫underscore.js就是因为使用,_. 调用
      <br>讲模板,可以有好多好多的属性,把它单独提出来就是一个对象了,一定要记住打印
      <br>介绍一个以上模型干不好的【转折】 介绍backbone
      <br>

      当写大型的项目是，需要些很多琐碎的js代码，Backbone就为了解决这个而诞生的
      <br>非常清晰的组织你的代码，分离独立的功能便于维护
      <br>可以使用购物网站的模板
      <br>backbone.js是一个轻量级的javascript框架
      <br>SPA就是刷新页面使不需要全部加载页面，只加载数据就OK了
      <br>太多回调函数的编写
      <br>太多的选择器
      <br>backbone不是框架，而是一个libarary
      <br>牛逼两点：逻辑组织和文件结构
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：安装和模板</div>
      <div class="panel-body">
          需要安装underscore.js和jQuery
        <br>直接引入您会发现是不是很轻呢
        <br>模板应该靠前讲
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：模型</div>
      <div class="panel-body">
      模型是Backbone的核心，其实就是一个能够储存在数据库中的对象
      <br>模型用于储存，解析，传递数据
      <br>不管是模型还是视图，在使用extend的时候都要画一个老潘讲的图
      <br>可以在创建模型时直接传入参数，定义的参数也可以set参数，传入的参数可以使用new Backbone.Model,这个是set设置那当然是get获得
      <br>model有id   save就是put，model没id  save就是post
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：控制器</div>
      <div class="panel-body">
      在BackBone中，控制器仅用于处理请求然后访问模型

      </div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：视图和模板</div>
      <div class="panel-body">
      模板是Backbone最重要的一个部分，它真是扮演了一个重要的角色
      <br>Backbone中的view是不包括HTML标签
      <br>view模块一个重要的功能就是操作DOM，View模块一般和模板一起使用
      <br>一定不要在view中实现逻辑 | 一般使用模板实现逻辑
      <br>underscore.js就是一个模板引擎, 感觉又不是引擎，而是一个类库
      <br>View中的render可以与model中的change绑定
      <br>View中的重要属性就是el:el是element的缩写，就代表元素。那el的作用就是通过选择器得到元素了。
      <br>1.View with model 使用模板引擎显示data
      <br>2.View with collection 使用collection显示
      <br>3.Region 就是一小片view
      <br>4.Layout 好多个一小片view
      <br>当你需要改变添加元素的内容时，添加的如果要多的话，怎么改呢！ 就用模板！
      <br>可以通过es6的字符串，来引入模板。
      <br><%= %>: 就是一般的template
      <br><% %>: 就是里面可以方javascript
      <br><%- %>:
      <br>通过javascript把html变成一个对象呢。就是使用/javascript标签的id内的html
      <br>必须把text/text变成text/template这样就不执行里面包含的javascript脚本了
      <br>如何展示一个view：
      <br>1.拿到模板
      <br>2.编译模板
      <br>3.从模型中得到data（单讲view的时候可以省略）
      <br>4.使用数据展示模板
      <br>5.把结果添加到dom对象中

      <br>根据官方文档constructor / initializenew View([options]) 
      <br>根据这个文档：直接传入的option（也就是参数）将自动加载collection,el,id,className,tagName,and events
      <br>view中的el就是'div/div'  $el同样就是调用哪个对象的的方法，像jquery,其实el和$el就是代表当前的这个view

      <br>View是有且只有tagName, className, id三个根元素方法


      </div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：集合</div>
      <div class="panel-body">
      Backbonejs的集合就是从后端数据到前端模型的一个中间人
      <br>可以把Collection看成是一系列backbone模型的集合
      <br>注意集合是只读的，只操作数据不操作逻辑
      <br>collection就是展示一些列的view
      <br>在创建集合的时候可以传入很多个Model
      <br>集合也可以toJSON() 把集合变成JSON串的形式
      <br>集合可以直接通过JQuery获得表单中的内容
      <br>对于collection，可以使用当监听有add时，来执行后边的回调
      <br>集合中的url，在集合中的model都会构造出这个url
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：事件</div>
      <div class="panel-body">
        events:{ 'event target'} target就会一致往里面找,也就是指定的发射内容
      </div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：文件结构</div>
      <div class="panel-body"></div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：子应用</div>
      <div class="panel-body">比如说付款，邮箱，分享，在一个网站中都属于子应用</div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：路由</div>
      <div class="panel-body">
      路由在backbone中就一个简单的功能，就是监听浏览器中的url是否改变，然后把它发给call处理
      <br>路由还可以解码url参数
      <br>Router就是当遇到具体的hash时，改变具体的view 如《Building Node Application with Mongodb and backbone》57页
      <br>赋值hash window.location.hash = 'login'
      <br>this.changeView(new ProfileView({model:model})); 使用router必须调用这个方法
      <br># 哈希符号 的改变新的内容,router可以连接各种url，监听url的变化
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十节：创建对象</div>
      <div class="panel-body">
      Backbone类库中的对象有限，在大型应用时还需要创建对象满足自己的功能
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十一节：Region</div>
      <div class="panel-body">

      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：同步请求</div>
      <div class="panel-body">
      backbone同步请求就是通过server对数据库进行增删改查
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十三节：backbone流程</div>
      <div class="panel-body">
      1.还是先用javascript，及backone的最基本的view来引出backbone
      2.使用非线性驱动方式，添加li
      </div>
    </div>
            <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十四节：SPA</div>
      <div class="panel-body">

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">第十四节：CRUD</div>
      <div class="panel-body">
      <br>必须指定url，不指定url是不行的
      <br>可以直接调用fetch，不用再方法里面调用，这样比较好懂
      </div>
    </div>

  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">03年混中关村的都赚饱了，08年买房的都赚high了，12年学OC的都买房了，我赌node.js了</p>
  <blockquote>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;我们年龄相仿，但是Ryan Dahl（百度翻译：瑞恩·达尔）在09年都让javascript成为后台服务的开发语言了。niubility!
    <br>&nbsp;&nbsp;&nbsp;&nbsp;那年打dota的有一个叫2009，那年node.js出世了。当时Dahl只有一个想法，就是使用非阻塞I/O使服务器实现大的吞吐量，其实这个构想基本上用任何语言都能实现。但关键是08年google推出了强劲给力的javascript引擎V8。这样，Dahl一不做二不休，搞！ 这种非阻塞的I/O构想和javascript就结合起来了，node.js就出生了。但2012年Dahl就靠边站了，Isaac Z. Schlueter（艾萨客·施吕特）开始接手node.js的项目，对，他就是npm公司的创始人，这也就说明npm为什么是node package manage的缩写了。然后又出事了，由于程序员政治，2014年Fedor Indutny完全拷贝node.js的代码创建了io.js，只不过io.js用的是V8的最新版本。哎，猿界大势，分久必合合久必分,2015年，node.js和io.js又和好了，也就是node的4.0版本，如果你要现在登录io.js的网站，它会告诉你，去node.js网站吧，我不更新了。
    <br>&nbsp;&nbsp;&nbsp;&nbsp;虽说不以物喜，不以己悲，但每次写《那年程序员》总想嘚吧几句，如果大家觉得贫，就在视频的评论处尽情的喷吧。我是2014年开始接触node.js的，依稀记得那时的版本是v0.12.8,看见了吗，那时的版本还没有上1。 现在都v7.x.x了，可见互联网节奏之快。那时，我就非常看好node.js的killer feature ---异步I/O. 所以在网上找了很多关于node.js的相关资料，赤裸裸的数也展示了node.js和apache，nginx在吞吐量和资源使用上的优势。于是赶紧抓住这个先机，想要成为一头风口浪尖的猪，但是两年了，两年了！智联招聘的node.js招聘量还是少的可怜，无可奈何花落去，所有的猿类都爱在坑边徘徊~
    </p>
    <footer>摘自--https://en.wikipedia.org/wiki/Node.js</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

  <!-- 登录注册model -->
  <% include ./partials/modal.html %>

</body>
</html>