<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .carousel-caption {
      top:35%;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>Docker课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/docker/1">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>Docker简介</h4>
          </div> 
      </a>
      <a href="/course/docker/1">第一节</a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>认识命令</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第二节</a>
    </div>
    <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>容器</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第三节</a>
    </div>
  </div>
  <!-- 第二行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>镜像</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第四节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/docker/5">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>创建镜像</h4>
          </div> 
      </a>
      <a href="/course/docker/5">第五节</a>
    </div>
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>Dockerfile</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第六节</a>
    </div>
  </div>
  <!-- 第三行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>镜像层级</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第七节</a>
    </div>
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>Build和Run</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第八节</a>
    </div>
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>Volume</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第九节</a>
    </div>
  </div>
  <!-- 第四行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/docker/10">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>容器网络</h4>
          </div> 
      </a>
      <a href="/course/docker/10">第十节</a>
    </div>
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>发表镜像</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第十一节</a>
    </div>
   <div class="col-sm-4">
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>容器组合</h4>
          </div> 
      </a>
      <a href="https://ke.qq.com/course/242291#tuin=2847ea58">第十二节</a>
    </div>
  </div>
  <!-- 第五行视频 -->
  <div class="row">
   <div class="col-sm-4">
      <a href="/course/docker/13">
      <img src="/images/Course/docker1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>Docker架构</h4>
          </div> 
      </a>
      <a href="/course/docker/13">第十三节</a>
    </div>
  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>Docker课程概述</h2>
  <p>Docker让程序快速的部署，高效的运行，神奇的移动</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：Docker简介</div>
      <div class="panel-body">Docker的作用就是让程序在任何时间，任何地点，任何计算机上高效的运行
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：Docker基本操作</div>
      <div class="panel-body">
      docker [选项]  [命令名称] [参数]
      <br>docker -v 显示当前docker的版本
      <br>docker -help 显示docker的命令  
      <br>直接输入docker显示所有docker的命令
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：容器</div>
      <div class="panel-body">
      docker的容器提供了程序运行所需的代码，配置文件，库文件，runtime, 系统工具的文件
      <br>docker container ls  查看所有容器
      <br>docker container stop 容器名称 停止运行容器
      <br>docker container restart 容器名称 重新运行容器
      <br>docker container rm 容器名称  删除容器
      <br>docker container prune 删除全部停止的容器
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：镜像</div>
      <div class="panel-body">
        docker通过镜像运行容器
        <br>可以把镜像（image）比喻成运行docker容器的原代码
        <br>docker image    显示镜像相关命令
        <br>docker images   查看所有镜像
        <br>docker rmi    删除镜像
        <br>docker  history 镜像名称   查看镜像构件历史
      </div>
    </div>
    <!-- 4.2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：创建镜像</div>
      <div class="panel-body">
        docker可以通过3种方式创建镜像：
        <br>docker import 【创建基础镜像（base images)】
        <br>docker commit  【创建镜像，和版本控制系统的commit很相似，但此方法在docker中创建image不是很常用】
        <br>Dockerfile  【最强大最常用的创建image的方法】
        <br>注：一般情况下我们是从已有的image上建立新的image
      </div>
    </div>
    <!-- 4.2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：Dockerfile</div>
      <div class="panel-body">
        Dockerfile用于创建镜像
        <br>FROM: 指定一个已有的镜像，我们创建的镜像将基于此镜像进行修改
        <br>RUN:运行镜像中的命令【在新镜像创建中】CMD:运行镜像中的命令【在新镜像创建后】
        <br>COPY:把本地文件复制到镜像文件系统中  ADD: 和COPY一样，但能复制tar文件并解压 
        <br>WORKDIR:改变当前的工作路径
      </div>
    </div>
    <!-- 4.3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：镜像层级</div>
      <div class="panel-body">
        在docker中，镜像是由镜像层级组成
        <br>一个镜像层级就是一个对原有镜像文件改变的集合
        <br>在docker中，image可以共享layer
      </div>
    </div>    
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：build和run</div>
      <div class="panel-body">
        build命令格式：docker   build   [OPTIONS]    PATH | URL | -
        <br>其中options是 -t 可以指定镜像名称  若果加上":"表示镜像的版本
        <br>PATH: 表示指定目录中的Dockerfile文件创建镜像
        <br>url: 自定url地址使用dockerfile创建镜像【如 git】
        <br>- :  通过标准输入创建镜像 【注：ctr + d 表示结束标准输入】
        <br>run命令格式：docker run [OPTIONS] IMAGE[:TAG|@DIGEST] [COMMAND] [ARG...]
        <br>可以在run命令后面直接运行容器的命令【如：docker run 镜像名称 ls】
        <br>run中的 -t 选项: 表示开启docker的伪终端
        <br>run中的 -i 选项: 表示开启标准输入
        <br>run中的 -d 选项: 表示后台运行docker
        <br>--name: 为运行的容器取名字
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第九节：Volume</div>
      <div class="panel-body">
        Volume 是dockerfile中的指令
        <br>Volume 可以让容器使用主机的文件
        <br>Volume 在Dockerfile中的设置：VOLUME ["挂载路径"]
        <br>Volume 在run时设置：-v 主机的绝对路径:挂载路径
        <br>Volume的优势
        <br>1. 可以让容器使用大的文件
        <br>2. 可以让容器与其他容器分享文件
        <br>3. 容易设置频繁改变的文件
      </div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十节: 容器网络</div>
      <div class="panel-body">
        docker的网络为的就是docker如何和主机连接，如何和其他的容器连接，以及如何作为服务器
        <br>计算机网络的基础是：协议  网络接口 和端口
        <br>网桥（Bridge): 就是把所有的网络结合一起看成一个新的网络
        <br>每个容器都有一个网络系统
        <br>容器与容器之间连接通过docker0网桥分配的私有ip进行连接
        <br>容器与主机之间连接通过端口号映射进行连接
        <br>EXPOSE: 在dockerfile中曝光容器的端口号
        <br>docker run -p 曝光的容器端口:映射的主机端口 镜像名称  通过映射的端口运行镜像
      </div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十一节：发布镜像</div>
      <div class="panel-body">
      在www.docker.com中注册用户以后，可以通过以下步骤发布镜像：
      <br>1. docker login 登录用户
      <br>2. Username    输入用户名
      <br>3. Password    输入密码
      <br>4. Docker push 用户/镜像名称  把镜像发表到dockerhub中
      <br>5. docker logout 退出登录
      <br>docker search 镜像名称：从dockerhub中找到相应的镜像
      <br>docker pull 镜像名称：从dockerhub中得到相应的镜像
      <br>注：创建发表的镜像最好在dockerfile中添加MAINTAINER指令：用于指定维护者的联系方式
      </div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：容器组合</div>
      <div class="panel-body">
      容器之间可以通过docker0进行连接
      <br>我们可以在主机上逐个运行多个容器，也可以通过YML文件一次性运行多个容器
      <br>YML文件的优势在于可以让其他开发人员清晰的看清docker中多个容器运行的逻辑
      <br>YML文件名称：docker-compose.yml
      <br>通过YML文件运行多个程序: docker-compose up
      </div>
    </div>
   <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十三节：docker架构</div>
      <div class="panel-body">
        可以把docker看成由三个部分组成：
        <br>docker CLI: 也就是docker接收命令的地方
        <br>docker daemon: docker在主机'后台'上运行的服务
        <br>docker hub: 存放docker镜像的地方
        <br>当我们安装docker是就会默认安装docker CLI和docker daemon
        <br>docker CLI 和 docker daemon 以及docker hub是通过http协议连接的
        <br>远程连接docker daemon需要配置/etc/init/docker.conf文件【ubuntu】
        <br>DOCKER_OPTS='-H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock'
      </div>
    </div>

  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090"></p>
  <blockquote>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;写这篇《那年程序员》时，真的很应景，第一是因为这是在西二旗地铁向西1000米内的中关村软件园写的，第二是因为《猩球崛起3》刚刚上映，难道不是意味着咱们“猿族”也在不断的崛起吗！<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;得，回到正题，Docker 最早其实是由浪漫的法兰西人Solomon Hykes发明的 最早是为了PAAS( plarform as a seviser）项目， 2013年3月 docker公布了它的源代码，成为了有一著名的开源软件，并且取得了20世纪 most-starred GitHub project。当然在这些众多的开发者中，华为也去凑了这个热闹。其实docker的发展也不是一帆风顺，在2015年的时候，docker的很多功能都没有，比如说那时根本就没有一个命令能看到哪个容器在运行。 但是是到了2016年由于docker的完善，docker的使用者像疯了一样的增长，2017年就跟不用说，据INTA调查，哈哈- 这里只是吹个牛B，但事实上就是这样，2017年docker的用户比2016年增加了160%，所以加上INTA课程对前沿技术的敏锐嗅觉，倾情的讲述出docker使用的技术的本质,让您在一炷香的时间内上位Docker。</p>
    <footer>一炷香时间上位docker---西二旗 [INTA]</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

  <!-- 登录注册model -->
  <% include ./partials/modal.html %>

</body>
</html>