<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .carcap {
      left:60%;
      right: 10%;
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>GIT课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/git/1">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>版本管理简介</h4>
          </div> 
      </a>
      <a href="/course/git/1">第一节</a>
    </div>
    <div class="col-sm-4">
      <a href="/course/git/2">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>基本使用</h4>
          </div> 
      </a>
      <a href="/course/git/2">第二节</a>
    </div>
    <div class="col-sm-4">
      <a href="/course/git/3">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>状态</h4>
          </div> 
      </a>
      <a href="/course/git/3">第三节</a>
    </div>
  </div>
  <!-- 第二行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/4">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>暂存台操作</h4>
          </div> 
      </a>
      <a href="/course/git/4">第四节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/5">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>撤销更改和重复提交</h4>
          </div> 
      </a>
      <a href="/course/git/5">第五节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/6">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>日志信息</h4>
          </div> 
      </a>
      <a href="/course/git/6">第六节</a>
    </div>
  </div>
  <!-- 第三行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/7">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>主分支</h4>
          </div> 
      </a>
      <a href="/course/git/7">第七节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/8">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>分支</h4>
          </div> 
      </a>
      <a href="/course/git/8">第八节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/9">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>提交分支</h4>
          </div> 
      </a>
      <a href="/course/git/9">第九节</a>
    </div>
  </div>
  <!-- 第四行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/10">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>合并分支（上）</h4>
          </div> 
      </a>
      <a href="/course/git/10">第十节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/11">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>合并分支（下）</h4>
          </div> 
      </a>
      <a href="/course/git/11">第十一节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/12">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>合并冲突</h4>
          </div> 
      </a>
      <a href="/course/git/12">第十二节</a>
    </div>
  </div>
  <!-- 第五行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/13">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>多分支及合并</h4>
          </div> 
      </a>
      <a href="/course/git/13">第十三节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/14">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>分支管理</h4>
          </div> 
      </a>
      <a href="/course/git/14">第十四节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/15">
      <img src="/images/Course/git.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption carcap">
            <h4>配置和帮助</h4>
          </div> 
      </a>
      <a href="/course/git/15">第十五节</a>
    </div>
  </div>
  <!-- 第六行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/16">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33;">github简介</h4>
          </div> 
      </a>
      <a href="/course/git/16">第十六节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/17">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33">连接github</h4>
          </div> 
      </a>
      <a href="/course/git/17">第十七节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/18">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33">上传仓库</h4>
          </div> 
      </a>
      <a href="/course/git/18">第十八节</p></a>
    </div>
  </div>
 <!-- 第七行视频 -->
    <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/19">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33;">下载仓库</h4>
          </div> 
      </a>
      <a href="/course/git/19">第十九节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/20">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33">分支</h4>
          </div> 
      </a>
      <a href="/course/git/20">第二十节</a>
    </div>
   <div class="col-sm-4">
      <a href="/course/git/18">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33">跟踪分支</h4>
          </div> 
      </a>
      <a href="/course/git/18">第二十一节</p></a>
    </div>
  </div>
  <!-- 下一行 -->
  <div class="row">
   <div class="col-sm-4">
      <a href="/course/git/22">
      <img src="/images/Course/github.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #f04f33;">合并申请</h4>
          </div> 
      </a>
      <a href="/course/git/22">第二十二节</a>
    </div>

  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>Git课程概述</h2>
  <p>Git是开源的，分布的版本管理系统</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：版本管理介绍</div>
      <div class="panel-body">版本管理系统简而言之就是记录文件或文件夹的变化，以便一段时间过后找到对应每个变化的文件或文件夹。</div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：Git基础</div>
      <div class="panel-body">如何最基本的使用git进行版本管理
      <br>git init  开始管理你的项目和文件夹
      <br>git add 文件名   把文件加到暂存台
      <br>git commit -m “描述信息”
      <br>git checkout 描述符  切换到任何快照
      <br>git checkout master  返回最新快照
      <br>git tag -a  版本号 -m '版本信息' 提交版本信息
      <br>git checkout 版本号  切换相应的版本
      <br> 每次提交都会产生一个快照。git通过快照存储文件的相关信息。
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：git状态</div>
      <div class="panel-body">
      git status   显示当前git的状态
      <br>git中文件的两种状态：已跟踪(tracked)和未跟踪(untracked)
      <br>git rm --cached 文件    把已跟踪文件转为未跟踪文件
      1./etc/gitconfig -- system 2. gitonfig /.config /git/config --global</div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：暂存台操作</div>
      <div class="panel-body">
        git diff 未跟踪文件和暂存台中文件的不同
        <br>git diff --staged 查看暂存台中的文件和最后一次提交的不同
        <br>git commit -a -m ‘描述信息’ 对于已在暂存台中的文件，更改后可以通过此命令直接提交。
        <br>git rm -f 文件名  从暂存台和当前目录中删除文件
        <br>git rm --cached 文件名 只在暂存台中删除
        <br><p style="color:red">注：视频中讲解删除暂存台中文件时，视频中的话语是‘工作台’，应改为暂存台。</p>
      </div>
    </div>
    <!-- 4.2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：撤销更改和重复提交</div>
      <div class="panel-body">
        git checkout -- 文件名   撤销更改
        <br>git commit --amend -m '描述信息'  覆盖提交 
      </div>
    </div>
    <!-- 4.2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：日志信息</div>
      <div class="panel-body">
        git log -p  展示每次提交的不同
        <br>--stat  简单展示git的状态 
        <br>--pretty=参数 格式化日志信息
        <br>--since=时间 展示指定提交时间后的信息
        <br>--graph  可以和pretty=oneline一起使用展示分支和合并的信息
      </div>
    </div>
    <!-- 4.3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：主分支</div>
      <div class="panel-body">
        git分支有着git特有的运行机制，本节主要讲述git主分支(master)与快照的运行机制。
      </div>
    </div>    
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：分支</div>
      <div class="panel-body">
        git branch 分支名    创建分支
        <br>git checkout 分支名   切换分支
        <br>git log  - - decorate  查看当前分支
        <br>git checkout -b 分支名   直接创建加切换
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第九节：提交分支</div>
      <div class="panel-body">git log - - oneline - - decorate - - graph - - all
      <br>我们可以通过此命令图表化查看分支信息及分支的提交情况
      </div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十节：合并分支（上）</div>
      <div class="panel-body">
        合并分支分两种方式：
        <br>第一种是 不创建快照合并 
        <br>在master分支最后一个快照，创建的分支。合并后只需把HEAD指针直接移到合并分支的最新提交处。
        <br>此方法官方称之为:Fast-Forward
        <br>git merge 分支名    合并分支
        <br>git checkout -d 分支名    删除分支
      </div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十一节：合并分支（下）</div>
      <div class="panel-body">
        第二种是 创建快照合并 
        <br>在master一个快照创建分支后，继续对master分支中的文件进行更改提交，合并时，git会创建新的快照合并分支。
        <br>此方法官方称之为：Three-way 
      </div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：合并冲突</div>
      <div class="panel-body">
      在不同分支中对同一个文件进行修改，会产生合并冲突
      <br><p style="color: red">git status 查看分支中哪个文件产生的合并冲突</p>
      </div>
    </div>
   <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十三节：多分支及合并</div>
      <div class="panel-body">
        git作为版本管理系统，能够技压其他版本管理系统的主要原因就是它的分支创建和分支合并特性，在编写大型的项目中，此特性尤为突出。
      </div>
    </div>
    <!-- 13 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十四节：分支管理</div>
      <div class="panel-body">
      git branch 显示当前分支
      <br>加 -v  显示分支最后提交的一次快照
      <br>加 --merged 查看哪个分支已经合并
      <br>加 --no-merged  查看哪个分支没有合并
      <br>加 -D 强制删除分支

      </div>
    </div>
   <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十五节：配置和帮助</div>
      <div class="panel-body">
      git config 用来设置git需要的参数
      <br>git config --global user.name "inta"  设置git用户的名称
      <br>git config --global user.email "inta@intalesson.com"   设置git用户的邮箱
      <br>git config --list 查看git配置信息
      <br>可以通过帮助，查看git的命令
      <br>git help 命令
      <br>git 命令 --help
      <br>man git-命令
      </div>
    </div>
   <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十六节：Github简介</div>
      <div class="panel-body">
        git是版本管理系统
        <br>github是服务器，是存放项目版本的服务器。
        <br>我们可以通过<a href='www.github.com'>www.github.com</a>登录github.
        <br>项目放到github上的优势:
        <br>1). 可以防止项目代码丢失
        <br>2). 可与其他开发者协作开发
        <br>以及如何在github上创建和删除仓库

      </div>
    </div>
   <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十七节：连接github</div>
      <div class="panel-body">
        git remote add 连接名称 url地址
        <br>git remote 查看连接 
        <br>git remote -v  连接名字对应的url地址
        <br>git remote show 连接名称           查看连接的详细信息
        <br>git remote rename 就名称 新名称     重新命名连接名称
        <br>git remote rm 连接名称    删除连接
      </div>
    </div>
   <!-- 11 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十八节：上传github仓库</div>
      <div class="panel-body">
         git push 连接名称  分支名称  把分支上传到github仓库中
         <br>git push 连接名称  tag名称
         <br><span style="color:red">在github创建完仓库的引导页上，使用的是git push -u进行上传，此知识点会在二十节《跟踪分支》讲解</span>
      </div>
    </div>
   <!-- 11 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十九节：下载github仓库</div>
      <div class="panel-body">
         git clone 仓库url地址
         <br>此命令会自动创建名字为origin的连接
         <br>git fetch 连接名称 下载的文件成文本地的一个远程分支
         <br>git branch -r 查看远程分支
         <span style="color: red">这里望大家参考二十一节知识点，这里的远程分支，就是二十节远程跟踪分支</span>
         <br>git checkout -b 分支名字  远程分支   切换远程分支
         <br>git pull 连接名称  github分支     下载并和并分支
         <br>git pull = git fetch + git merge
      </div>
    </div>
   <!-- 11 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二十节：github分支</div>
      <div class="panel-body">
      github中的【branches】分支按钮可以在github中创建分支
      <br>github中的【crate new file】创建文件按钮创建新的文件
      <br>github中的【upload file】 上传文件按钮上传文件
      <br>github中的【find file】 查找文件按钮查找文件
      <br>github中的 【tags】 标签按钮查看文件
      <br><span style="color: red">注：使用git clone, git fetch, git pull在本地得到是github中的master分支，想要得到在github中创建的分支，需要查看下节（二十一节github课程）《跟踪分支》知识点。</span>
      </div>
    </div>
   <!-- 11 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二十一节：跟踪分支</div>
      <div class="panel-body">
      使用git fetch从github上下载的项目（文件）在本地计算机会以一种远程跟踪分支（remote-tracking branches)的形式存在，名称为（连接名称/github分支),上节视频讲过，可以通过git branch -r查看远程跟踪分支。我们不能在本地修改或合并该远程跟踪分支，可以通过下面命令创建一个新的分支进行修改或合并：
      <br>git checkout -b 跟踪分支 远程跟踪分支   把远程跟踪分支转化为跟踪分支
      <br>跟踪分支和github的分支有着直接的关联，也就是说在本地跟踪分支中，直接使用git pull，git就会直接找到对应的github服务器，并更新合并分支中的内容。
      <br>如果使用git clone下载仓库，下载完毕后本地的master分支，就是跟踪分支。
      <br>在使用git push上传本地项目到github时，如果使用'git push -u 连接名称  分支名称'，在github下载后的分支就会变为跟踪分支.
      <br>git branch -r  查看远程跟踪分支
      <br>git branch -vv   查看跟踪分支
      </div>
    </div>
   <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二十二节：合并申请</div>
      <div class="panel-body">
      git是一个免费开源的分布式版本管理系统
      <br>通过github中的fork可以直接复制github中的其他项目变成自己的项目
      <br>对github中别人的项目更改完毕以后可以通过pull request（合并申请）把添加的新功能合并到他人的项目中。实现开源软件世界性的共同开发。
      </div>
    </div>

  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">一个人写了两个系统，一个是linux操作系统，一个git版本管理系统</p>
  <blockquote>
    <p>Git由Linus Benedict Torvalds在2005年开发的，Linus是一个瑞典的计算机大神。生于1969年12月28日，在写这篇《那年程序员》时，正好是2016年12月28日。估计47岁Linus大神这辈子也不知道，远在遥远东方，中国，北京，西小口地铁站旁的一间被雾霾笼罩的破房子中，有人祝福他的生日。说到linus,当我们看到这个名字的时候，对于一个程序员来说就应该知道，他就是那个编写linux内核的人。如果搜索这个人的相关信息，一系列的铺天盖地的关于他的传奇信息就会随之而来，而git的出现，最早也是为了管理linux内核的版本，当然现在的是由Hamano Jun一个日本的黑客维护，曾经是黑客。现在在google工作，住在程序员的麦加--中关村加利福尼亚软件园。Linus说过，认识Hamano及让他维护git是Linus最大的成功。也不知道git是不是应该翻译成‘基特’。anyway,Git是目前最流行的版本管理系统。为这个庞大的猿类世界提供了很多优秀的开源代码。生日快乐，linus！</p>
    <footer>inta 2016-12-28</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

  <!-- 登录注册model -->
  <% include ./partials/modal.html %>

</body>
</html>