<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .carousel-caption {
      left:60%;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>Grunt课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/node/1">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4 style="color: #4d2e12;">应用案例</h4>
          </div> 
      </a>
      <a href="/course/node/1">第一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/2">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>全局对象</h4>
          </div> 
      </a>
      <a href="/course/node/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/3">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>module.exports</h4>
          </div> 
      </a>
      <a href="/course/node/3">第三节</p></a>
    </div>
  </div>
  <!-- 第二行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/4">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>核心模块</h4>
          </div> 
      </a>
      <a href="/course/node/4">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/5">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>事件模块</h4>
          </div> 
      </a>
      <a href="/course/node/5">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/6">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(1)</h4>
          </div> 
      </a>
      <a href="/course/node/6">第六节</p></a>
    </div>
  </div>
  <!-- 第三行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/7">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(2)</h4>
          </div> 
      </a>
      <a href="/course/node/7">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/8">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>同步异步</h4>
          </div> 
      </a>
      <a href="/course/node/8">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/9">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Buffer</h4>
          </div> 
      </a>
      <a href="/course/node/9">第九节</p></a>
    </div>
  </div>
  <!-- 第四行视频 -->
 <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/10">
      <img src="/images/Course/grunt.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Stream</h4>
          </div> 
      </a>
      <a href="/course/node/10">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/11">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>http模块</h4>
          </div> 
      </a>
      <a href="/course/node/11">第十一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/12">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js架构</h4>
          </div> 
      </a>
      <a href="/course/node/12">第十二节</p></a>
    </div>
  </div>

  <!-- 第五行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/13">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js运行原理</h4>
          </div> 
      </a>
      <a href="/course/node/13">第十三节</p></a>
    </div>
  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>grunt课程概述</h2>
  <p>grunt是javascript的项目构件工具，为你javascript项目构件提供一些精妙的解决方法</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：使用案例</div>
      <div class="panel-body">
      <br>编译sass
      <br>压缩javascript，css，html文件
      <br>把多个javascript文件拼成一个文件，比如说你引用了好多文件，angular，bootstrap等等
      <br>automate 自动化插件，可以运行，你自己的插件，也可以运行别人的插件
      <br>5个必须安转的东西 node npm grunt grunt-cli plugin
      <br>两个文件package.json gruntfile.js(加载插件，配置插件，定义任务)
      <br>然后跟那个哥们讲的似的，直接运行一下，别上来就来。看桌面截图，最简单的配置框架
      <br>module.exports=function这是node该做的事情
      <br>watch task watch最后讲，明白了吧
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：全局对象</div>
      <div class="panel-body">全局对象在整个项目的任何地方都可以调用
      <br>__dirname
      <br>__filename
      <br>require
      <br>console
      <br>exports
      <br>module
      等
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：module.exports</div>
      <div class="panel-body">简述module.exports如何曝光文件
      <br>exports和module.exports都可以曝光文件，使用exports不能直接曝光文件，必须为其添加属性。而module.exports可以直接曝光文件。
      </div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：核心模块</div>
      <div class="panel-body">本节讲述了node.js的核心模块，包括：
      <br>event模块
      <br>fs模块
      <br>http模块
      <br>访问<a href="https://nodejs.org/">官网</a>获得详细信息
      </div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：事件模块</div>
      <div class="panel-body">本节讲述了事件模块的使用
      <br>on监听事件
      <br>emit发射事件
      等
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：文件读写（1）</div>
      <div class="panel-body">同步读写文件</div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：文件读写（2）</div>
      <div class="panel-body">异步读写文件</div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：同步异步</div>
      <div class="panel-body">本节讲述了同步异步的基本概念</div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：Buffer</div>
      <div class="panel-body">
      Buffer是独立于node访问计算机的内存
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十节：Stream</div>
      <div class="panel-body">
      流的概念及流的基本使用
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十一节：http模块</div>
      <div class="panel-body">
      本节主要讲述http模块的基本使用
      <br>http接收请求
      <br>http响应请求
      <br>http监听端口
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：node.js架构</div>
      <div class="panel-body">
      本节讲述node.js的架构，内容包括
      <br>操作系统
      <br>v8引擎
      <br>C++编写的底层代码
      <br>node.js API
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十三节：node.js运行原理</div>
      <div class="panel-body">
      本节讲述了node.js的运行原理
      <br>eventloop
      <br>事件监听
      <br>函数栈
      </div>
    </div>


  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">grunt带你跑，带你跳，带你飞</p>
  <blockquote>
    <p>2011年grunt有了自己的第一行代码，在2013年2月18号，grunt发表了自己的第一个版本v0.4。 在2014年12月，发表了第二个版本。稳定的版本是2016年2月11日发表的，版本是v1.0.0</p>
    <footer>摘自 -- www.tutorialspoint.com</footer><br>
    <p>为何创建 grunt？
创建一个主要的或单文件 repo 是相当容易的，你会承诺在不久后将会添加 linting 和单元测试。使用 grunt，你曾经所有的推迟的借口将因此消失。创建一个新的项目总是会要做一些必要而繁琐并重复的工作例如 linting，单元测试，连接以及细化文件等，grunt 使得这些琐碎的事更加简单。
在许多的实验与失败尝试后，我发现在一个巨大的 Makefile / Jakefile / Cakefile / Rakefile / ?akefile 中编写与维护一整套“ JavaScript 构建过程”任务是压倒性的，特别是考虑到我有多少个这样的工程的时候。这种方式是没法满足我现行的需求的。
最后我意识到，一个带有内建的常用任务的基于任务的构建工具对于我来说是最好的方式了。不幸的是，我没有找到一个能够真正满足我要求的构建工具，所以我自己构建了一个。
版本发布
2013年11月21日，Grunt v0.4.2 发布。 
2013年03月13日，Grunt v0.4.1 发布。
2013年02月18日，Grunt v0.4.0 发布。
我如何构建 grunt ?
首先作为一个 JavaScript 开发者，我决定使用 Node.js 和 npm 是因为我关心的依赖组件（JSHint 和 UglifyJS）已经有 npm 模块了。也就是说，当 Node.js 被设计用来处理高并发异步 IO 驱动的网络服务时，它就注定不是设计用来当命令行构建工具的。但是没关系，因为 grunt 能够在 OS X，Linux 与 Windows 下良好工作。
只需要使用 npm install -g grunt 安装就行。
内建任务处理
grunt 拥有一下预定义的任务：
concat - Concatenate files.
init - Generate project scaffolding from a predefined template.
lint - Validate files with JSHint.
min - Minify files with UglifyJS.
qunit - Run QUnit unit tests in a headless PhantomJS instance.
server - Start a static web server.
test - Run unit tests with nodeunit.
watch - Run predefined tasks whenever watched files change.
自定义任务
除了使用内建任务之外，你也能够创建自己的任务，与内建任务默认行为不同？重写一遍就好了。检出grunt API documentation 和 内建任务源码 ，这些能够给你所有用来创建自定义任务的信息。
同时，创建 grunt 插件允许你将关联的任务轻松打包成 npm 模块以便安装。Backbone Boilerplate便是一个很好的 grunt 插件演示示例。
初始化新项目
这也许是我最喜欢的grunt特性，该 init task 初始化一个新项目，基于当前的环境以及一些问题的答案。一旦完成初始化，将会在生成一个带有完整目录结构的 grunt.js 配置文件，包括基本的readme，license，package.json，示例源文件以及单元测试（等）。这些文件以及内容依赖于被选择的模版。
可以在10秒钟内为整个项目创建整体框架，而不是一点点勾画出一个一次性的主体。“填空”，然后运行 grunt 用来 lint , concat , minify 我的代码。如果一切都通过了，我便可以提交以及增进我的代码。任何希望为该项目贡献代码的人都可以安装 grunt 来做同样的事。
当前还只有少量的内建初始化模版，包括一个 “jquery” 模版，它用来设计基本的 jQuery 插件以适应即将到来的 jQuery 插件站，还有一个一般的 “gruntfile” 模版用来快速的添加 grunt.js gruntfile 到一个已存在的项目中。你可以重写初始化模版文件，如果你想要自定义内建的初始化模版或者创建一个你自己的。你的模版不需要是与 grunt 关联。你可以创建一个初始化模版用来构建模型或者视图或者 package.js 文件，做任何你想做的。
grunt 实际使用
每次 grunt 运行时，它将查看当前目录下的名为 grunt.js 的文件，又称作 “gruntfile” 。如果该文件没有找到， grunt 将继续在它的父目录中查找直到找到。该文件一般被放置在你的项目库的根目录下。它是一个由项目配置以及自定义项目特定任务组成的有效的 JavaScript 文件。
如果你喜欢 “action shots” 下面便有一个 grunt 示例：

Grunt实战
我们已经在 Bocoup 中使用了 grunt 。Rick Waldron 使用grunt构建了 Ringmark mobile test suite 。 Scott González 与 J?rn Zaefferer 已经使用 grunt 构建任务来替代所有的就 jQuery 项目（就jQuery，jQuery UI 以及 QUnit）等等。
Grunt 还只是在内测中，然而我们已经在多个项目中使用它了，也许也会有一两个小问题。该API已经经过多次迭代，已经被认为很稳定了。但是它仍然可能基于你的回馈在未来有所变更。
 
</p>
<footer>摘自 -- 百度百科</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

</body>
</html>