<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>Node课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/node/1">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>回调函数</h4>
          </div> 
      </a>
      <a href="/course/node/1">第一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/2">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>全局对象</h4>
          </div> 
      </a>
      <a href="/course/node/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/3">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>module.exports</h4>
          </div> 
      </a>
      <a href="/course/node/3">第三节</p></a>
    </div>
  </div>
  <!-- 第二行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/4">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>核心模块</h4>
          </div> 
      </a>
      <a href="/course/node/4">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/5">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>事件模块</h4>
          </div> 
      </a>
      <a href="/course/node/5">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/6">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(1)</h4>
          </div> 
      </a>
      <a href="/course/node/6">第六节</p></a>
    </div>
  </div>
  <!-- 第三行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/7">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(2)</h4>
          </div> 
      </a>
      <a href="/course/node/7">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/8">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>同步异步</h4>
          </div> 
      </a>
      <a href="/course/node/8">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/9">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Buffer</h4>
          </div> 
      </a>
      <a href="/course/node/9">第九节</p></a>
    </div>
  </div>
  <!-- 第四行视频 -->
 <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/10">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Stream</h4>
          </div> 
      </a>
      <a href="/course/node/10">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/11">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>http模块</h4>
          </div> 
      </a>
      <a href="/course/node/11">第十一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/node/12">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js架构</h4>
          </div> 
      </a>
      <a href="/course/node/12">第十二节</p></a>
    </div>
  </div>

  <!-- 第五行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/node/13">
      <img src="/images/Course/node.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>node.js运行原理</h4>
          </div> 
      </a>
      <a href="/course/node/13">第十三节</p></a>
    </div>
  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>node课程概述</h2>
  <p>node.js使用javascript编写后端程序，发表于2009年，其独特的非阻塞I/O,和事件驱动特性，大大提高了服务器的运行效率。</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：回调函数</div>
      <div class="panel-body">通过函数作为参数的形式，讲述了回调函数。
      <br>使用函数作为参数，这个参数可以向函数一样调用
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：全局对象</div>
      <div class="panel-body">全局对象在整个项目的任何地方都可以调用
      <br>__dirname
      <br>__filename
      <br>require
      <br>console
      <br>exports
      <br>module
      等
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：module.exports</div>
      <div class="panel-body">简述module.exports如何曝光文件
      <br>exports和module.exports都可以曝光文件，使用exports不能直接曝光文件，必须为其添加属性。而module.exports可以直接曝光文件。
      </div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：核心模块</div>
      <div class="panel-body">本节讲述了node.js的核心模块，包括：
      <br>event模块
      <br>fs模块
      <br>http模块
      <br>访问<a href="https://nodejs.org/">官网</a>获得详细信息
      </div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：事件模块</div>
      <div class="panel-body">本节讲述了事件模块的使用
      <br>on监听事件
      <br>emit发射事件
      等
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：文件读写（1）</div>
      <div class="panel-body">同步读写文件</div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：文件读写（2）</div>
      <div class="panel-body">异步读写文件</div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：同步异步</div>
      <div class="panel-body">本节讲述了同步异步的基本概念</div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：Buffer</div>
      <div class="panel-body">
      Buffer是独立于node访问计算机的内存
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十节：Stream</div>
      <div class="panel-body">
      流的概念及流的基本使用
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十一节：http模块</div>
      <div class="panel-body">
      本节主要讲述http模块的基本使用
      <br>http接收请求
      <br>http响应请求
      <br>http监听端口
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：node.js架构</div>
      <div class="panel-body">
      本节讲述node.js的架构，内容包括
      <br>操作系统
      <br>v8引擎
      <br>C++编写的底层代码
      <br>node.js API
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十三节：node.js运行原理</div>
      <div class="panel-body">
      本节讲述了node.js的运行原理
      <br>eventloop
      <br>事件监听
      <br>函数栈
      </div>
    </div>


  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">03年混中关村的都赚饱了，08年买房的都赚high了，12年学OC的都买房了，我赌node.js了</p>
  <blockquote>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;我们年龄相仿，但是Ryan Dahl（百度翻译：瑞恩·达尔）在09年都让javascript成为后台服务的开发语言了。niubility!
    <br>&nbsp;&nbsp;&nbsp;&nbsp;那年打dota的有一个叫2009，那年node.js出世了。当时Dahl只有一个想法，就是使用非阻塞I/O使服务器实现大的吞吐量，其实这个构想基本上用任何语言都能实现。但关键是08年google推出了强劲给力的javascript引擎V8。这样，Dahl一不做二不休，搞！ 这种非阻塞的I/O构想和javascript就结合起来了，node.js就出生了。但2012年Dahl就靠边站了，Isaac Z. Schlueter（艾萨客·施吕特）开始接手node.js的项目，对，他就是npm公司的创始人，这也就说明npm为什么是node package manage的缩写了。然后又出事了，由于程序员政治，2014年Fedor Indutny完全拷贝node.js的代码创建了io.js，只不过io.js用的是V8的最新版本。哎，猿界大势，分久必合合久必分,2015年，node.js和io.js又和好了，也就是node的4.0版本，如果你要现在登录io.js的网站，它会告诉你，去node.js网站吧，我不更新了。
    <br>&nbsp;&nbsp;&nbsp;&nbsp;虽说不以物喜，不以己悲，但每次写《那年程序员》总想嘚吧几句，如果大家觉得贫，就在视频的评论处尽情的喷吧。我是2014年开始接触node.js的，依稀记得那时的版本是v0.12.8,看见了吗，那时的版本还没有上1。 现在都v7.x.x了，可见互联网节奏之快。那时，我就非常看好node.js的killer feature ---异步I/O. 所以在网上找了很多关于node.js的相关资料，赤裸裸的数也展示了node.js和apache，nginx在吞吐量和资源使用上的优势。于是赶紧抓住这个先机，想要成为一头风口浪尖的猪，但是两年了，两年了！智联招聘的node.js招聘量还是少的可怜，无可奈何花落去，所有的猿类都爱在坑边徘徊~
    </p>
    <footer>摘自--https://en.wikipedia.org/wiki/Node.js</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

</body>
</html>