<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>NPM</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>


<div class="container text-center">    
  <h3>视频纲要</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/npm/1">
      <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>简介</h4>
          </div> 
      </a>
      <a href="/course/npm/1">第一节</a>
    </div>

    <div class="col-sm-4"> 
      <a href="/course/npm/2">
      <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>基本使用</h4>
          </div>
      </a>
      <a href="/course/npm/2">第二节</a>   
    </div>

    <div class="col-sm-4">
    <a href="/course/npm/3">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>递归安装</h4>
          </div>
        </a>
      <a href="/course/sublime/3">第三节</a>   
    </div>
  </div><br>
  <!-- 第二行视频 -->
    <div class="row">
    <div class="col-sm-4">
    <a href="/course/npm/4">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>package.json</h4>
          </div>
    </a>
      <a href="/course/npm/4">第四节</a>   
    </div>
    <div class="col-sm-4">
    <a href="/course/npm/5">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>自动创建package.json</h4>
          </div>
      </a>
      <a href="/course/npm/5">第五节</a>   
    </div>
     <div class="col-sm-4">
     <a href="/course/npm/6">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>dependencies</h4>
          </div>
      </a>
      <a href="/course/npm/6">第六节</a>   
    </div>
  </div><br>
  <!-- 第三行视频 -->
    <div class="row">
    <div class="col-sm-4">
    <a href="/course/npm/7">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>devDependencies</h4>
          </div>
        </a>
      <a href="/course/npm/7">第七节</a> 
    </div>
    <div class="col-sm-4">
    <a href="/course/npm/8">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>package.json添加包</h4>
          </div>
        </a>
      <a href="/course/npm/8">第八节</a>   
    </div>
    <div class="col-sm-4">
    <a href="/course/npm/9">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>发表包</h4>
          </div>
      <a href="/course/npm/9">第九节</a>   
    </div>
  </div><br>
  <!-- 第四行视频 -->
   <div class="row">
    <div class="col-sm-4">
    <a href="/course/npm/10">
       <img src="/images/Course/npm.jpg" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>包和模块</h4>
          </div>
        </a>
      <a href="/course/npm/10">第十节</a>
    </div>
  </div> 
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>NPM课程概述</h2>
  <p>npm是javascript的包管理工具,我们可以通过npm查找和复用其他开发者的代码，同样，我们也可以通过npm分享自己的功能模块供其他开发者使用，共同提升开发效率。</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第一节：npm简述</strong></div>
      <div class="panel-body">npm最初是node package manager的缩写，也就是node.js的包管理工具。现在npm已经发展为javascript的包管理工具。<br>npm和node绑定在一起安装的，可以通过npm install npm@latest -g更新npm的最新版本</div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第二节：npm基本使用</strong></div>
      <div class="panel-body">本节讲述如何安装包文件，及其相应的版本。如何查找包文件的安装路径。安装包文件后，会在当前目录下创建node_modular路径（文件夹）
      <br>npm install 包名称
      <br>npm ls 查看当前项目中安转的包文件
      <br>npm uninstall 卸载包
      <br>npm install 包名称 -g 全局安装包文件
      <br>npm ls -g 查看全局的包文件
      <br>npm root (-g) 查看包的安转路径（或全局安装路径)
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第三节：npm递归安装</strong></div>    
      <div class="panel-body">
        在安装比较复杂的包文件时，可能会依赖其他的包文件。npm通过package.json安装依赖的包文件。我们可以通过：<br> npm ls --depth=<数字> <br>简化的查看安装包文件的属性结构
      </div>
    </div>
    <!-- 4 -->
     <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第四节：package.json</strong></div>
      <div class="panel-body">npm通过package.json简便快捷的安装包文件，及其依赖的包文件。顾名思义，package.json文件内容是一个json串。package.json必须包含"name"和"version"键。
      <br> name: 包的名称
      <br> version: 包的版本
      <br> main: 指定包的入口文件，默认是index.js
      <br> script: 指定npm脚本命令
      <br> keyword: 便于搜索引擎搜索的关键字
      <br> author: 作者
      <br> licence: 认证许可
      <br> repository: 包位于git的连接地址
      </div>
      </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第五节：自动创建package.json文件</strong></div>
      <div class="panel-body">
        简化创建package.json的方法
        <br>npm init
        <br>npm init --yes 自动创建package.json并使用其默认的值
      </div>
    </div>
    <!-- 5.1 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第六节：dependencies</strong></div>
      <div class="panel-body">
        在package.json的dependencies键中添加相应的依赖包。就可以通过
        <br>npm install 
        <br>直接安装其依赖的包文件
        <br> "*" 和 "" 表示最新版本
        <br> "@x.x.x" 表示对应的版本
      </div>
    </div>
    <!-- 5.2 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第七节：devDependencies</strong></div>
      <div class="panel-body">
          devDependencies是表示开发中依赖的包文件
          <br>个人理解：其实就是开发过程中，用到的一些用javascript写的一些工具，如编译sass，缩小js文件等
      </div>
    </div>
    <!-- 5.2 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第八节：package.json添加包</strong></div>
      <div class="panel-body">
          npm install 包名称 --save    向package.json中dependencies中添加包
          <br>npm install 包名称  --save-dev   向package.json中devDependencies中添加包
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第九节：发表包</strong></div>
      <div class="panel-body">创建完package.json文件后，可以通过
      <br>npm publish
      <br>发表自己创建的包分享给其他开发者使用。在这里需要注意npm会将当前目录中的所用文件发表的npm中，发表之前需要添加用户。 如果想删除包使用
      <br>发表之前使用npm adduser 添加用户
      <br>npm unpubish --force 包名称
      <br>对其进行删除（限24小时内操作）
      <br><strong style="color:red"> 注：本视频index.js代码是funciton 应为function</strong>
      </div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #C83B3C; color: white"><strong>第十节：包和模块</strong></div>
      <div class="panel-body">node.js和npm中，包和模块的定义很容易混淆。
      <br>包是一个被package.json描述的一个文件夹或路径。
      <br>模块可以被node.js中的require引用。
      <br>大多数的包都是模块
      <br>包中的package.json有main键
      <br>包中包含index.js
      <br>单独的javascript文件
      </div>
    </div>

</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">javascript, javascript, javascript.</p>
  <blockquote style="border-left-color: #C83B3C;">
    <p>npm的作者是Isaac Z. Schlueter（艾萨客·施吕特），看这个名字应该是个犹太人，它利用了犹太人独有的天赋与智慧一两天就把npm给完成了。写完以后继续对npm进行开发和维护。当初，他也写了一份js包文件在npm上的发布标准，但是对于初创阶段的艾萨客，根本就没人鸟他。它那时也没有创业资金，资源也有限。但是像很多成功的故事一样，他还是坚持不懈，自己开发javascript的包放到npm上，免费供别人使用。然后，npm从最初的十几个包，到现在的成千上万个包。就连艾萨客自己也没想到npm有如此迅猛的发展趋势，以后的发展差不多就都一样了，就是开办npm公司，出任CEO，跻身高富帅，赢取白富美，走向人生巅峰了... </p>
    <footer>摘自 -- <a href="https://gist.github.com/mikeal/8947417">NPM history</a> </footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

  <!-- 登录注册model -->
  <% include ./partials/modal.html %>

</body>
</html>