<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .panel-default {
      border-color: pink;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>sass课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/sass/1">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
<!--           <div class="carousel-caption">
            <h4 style="color: #4d2e12;">应用案例</h4>
          </div>  -->
      </a>
      <a href="/course/sass/1">第一节:sass简介</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/2">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>全局对象</h4>
          </div> 
      </a>
      <a href="/course/sass/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/3">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>module.exports</h4>
          </div> 
      </a>
      <a href="/course/sass/3">第三节</p></a>
    </div>
  </div>
  <!-- 第二行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/sass/4">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>核心模块</h4>
          </div> 
      </a>
      <a href="/course/sass/4">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/5">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>事件模块</h4>
          </div> 
      </a>
      <a href="/course/sass/5">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/6">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(1)</h4>
          </div> 
      </a>
      <a href="/course/sass/6">第六节</p></a>
    </div>
  </div>
  <!-- 第三行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/sass/7">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>文件读写(2)</h4>
          </div> 
      </a>
      <a href="/course/sass/7">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/8">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>同步异步</h4>
          </div> 
      </a>
      <a href="/course/sass/8">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/9">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Buffer</h4>
          </div> 
      </a>
      <a href="/course/sass/9">第九节</p></a>
    </div>
  </div>
  <!-- 第四行视频 -->
 <div class="row">
    <div class="col-sm-4">
      <a href="/course/sass/10">
      <img src="/images/Course/sass.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>Stream</h4>
          </div> 
      </a>
      <a href="/course/sass/10">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/11">
      <img src="/images/Course/sass.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>http模块</h4>
          </div> 
      </a>
      <a href="/course/sass/11">第十一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sass/12">
      <img src="/images/Course/sass.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>sass.js架构</h4>
          </div> 
      </a>
      <a href="/course/sass/12">第十二节</p></a>
    </div>
  </div>

  <!-- 第五行视频 -->
  <div class="row">
    <div class="col-sm-4">
      <a href="/course/sass/13">
      <img src="/images/Course/sass.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>sass.js运行原理</h4>
          </div> 
      </a>
      <a href="/course/sass/13">第十三节</p></a>
    </div>
  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>ass课程概述</h2>
  <p style="color: #e6e6fa;">Sass扩展了CSS3，增加了规则、变量、混入、选择器、继承等特性。并且可生成良好格式化的CSS 代码，易于组织和维护。</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：使用案例</div>
      <div class="panel-body">
      <br>编译sass
      <br>压缩javascript，css，html文件
      <br>把多个javascript文件拼成一个文件，比如说你引用了好多文件，angular，bootstrap等等
      <br>automate 自动化插件，可以运行，你自己的插件，也可以运行别人的插件
      <br>5个必须安转的东西 sass npm grunt grunt-cli plugin
      <br>两个文件package.json gruntfile.js(加载插件，配置插件，定义任务)
      <br>然后跟那个哥们讲的似的，直接运行一下，别上来就来。看桌面截图，最简单的配置框架
      <br>module.exports=function这是sass该做的事情
      <br>watch task watch最后讲，明白了吧
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：全局对象</div>
      <div class="panel-body">全局对象在整个项目的任何地方都可以调用
      <br>__dirname
      <br>__filename
      <br>require
      <br>console
      <br>exports
      <br>module
      等
      </div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：module.exports</div>
      <div class="panel-body">简述module.exports如何曝光文件
      <br>exports和module.exports都可以曝光文件，使用exports不能直接曝光文件，必须为其添加属性。而module.exports可以直接曝光文件。
      </div>
    </div>
    <!-- 4 -->
    <div class="panel panel-default">
      <div class="panel-heading">第四节：核心模块</div>
      <div class="panel-body">本节讲述了sass.js的核心模块，包括：
      <br>event模块
      <br>fs模块
      <br>http模块
      <br>访问<a href="https://sassjs.org/">官网</a>获得详细信息
      </div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：事件模块</div>
      <div class="panel-body">本节讲述了事件模块的使用
      <br>on监听事件
      <br>emit发射事件
      等
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：文件读写（1）</div>
      <div class="panel-body">同步读写文件</div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：文件读写（2）</div>
      <div class="panel-body">异步读写文件</div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：同步异步</div>
      <div class="panel-body">本节讲述了同步异步的基本概念</div>
    </div>
    <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第九节：Buffer</div>
      <div class="panel-body">
      Buffer是独立于sass访问计算机的内存
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十节：Stream</div>
      <div class="panel-body">
      流的概念及流的基本使用
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十一节：http模块</div>
      <div class="panel-body">
      本节主要讲述http模块的基本使用
      <br>http接收请求
      <br>http响应请求
      <br>http监听端口
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十二节：sass.js架构</div>
      <div class="panel-body">
      本节讲述sass.js的架构，内容包括
      <br>操作系统
      <br>v8引擎
      <br>C++编写的底层代码
      <br>sass.js API
      </div>
    </div>
        <!-- 9 -->
     <div class="panel panel-default">
      <div class="panel-heading">第十三节：sass.js运行原理</div>
      <div class="panel-body">
      本节讲述了sass.js的运行原理
      <br>eventloop
      <br>事件监听
      <br>函数栈
      </div>
    </div>


  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p style="color:#708090">以后界面的世界就越来越美了</p>
  <blockquote style="border-left-color: pink;">
    <p>ass读起来总感觉像03年非典的sars，在加上其粉色调的主题，又太像小汤山的小护士冒了。太可怕了。
    <br>为什么会这样子？
    <br>为什么会这样子。
    <br>为什么会这样子！
    <br>果不其然，sass的设计者Hampton Catlin是一名程序员，同时也是一名同性恋的倡导者。又为我们猿类世界的多样性贡献了一份力量。2007年这哥们..这娘...不管怎么称呼了，就开始创建样式表语言(style sheet language)来扩充CSS。2008年一年，他都和他相互照应（大家别以为这是google翻译的，co-designer翻译成相互照应的设计者,相互关心，相互协作，相互的光芒都能照耀对方的钛合金猿眼)Natalie Weizenbaum致力于sass的开发。2011年sass编程手册正式发表。
    <br>sass的出现不仅为css样式动态化做出了贡献。更为同性恋的权益保障迈出了结实的一步，也许不久的将来，加班加晚了，直接和身边的‘co-猿’基一夜，岂不意尽阑珊。窗帘，座椅，闪着绿灯的打印机，看着窗外的‘基也佳’我也陷入了沉思.......
    </p>
    <br>☺☺☺
    <footer style="color: pink">www.intalesson.com</footer>

  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

</body>
</html>