<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课程大纲</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .carousel-caption {
      text-shadow: none;
      color:#303030;
    }
    .second {
      color: #FAFAFB;
    }
    </style>
</head>
<body>
  <!-- 第一块区域导航栏 -->
  <% include ./partials/nav.html %>
<div class="container text-center">    
  <h3>课程大纲</h3><br>
  <!-- 第一行视频 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/1">
      <img src="/images/Course/sublime.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>常规操作</h4>
          </div> 
      </a>
      <a href="/course/sublime/1">第一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/2">
      <img src="/images/Course/sublime.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>窗口 视图 主题</h4>
          </div> 
      </a>
      <a href="/course/sublime/2">第二节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/3">
      <img src="/images/Course/sublime.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>行操作</h4>
          </div> 
      </a>
      <a href="/course/sublime/3">第三节</p></a>
    </div>
  </div><br>
  <!-- 第二行视频 -->
    <div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/4">
      <img src="/images/Course/sublime.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>光标操作</h4>
          </div> 
      </a>
      <a href="/course/sublime/4">第四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/5">
      <img src="/images/Course/sublime.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>缩进</h4>
          </div> 
      </a>
      <a href="/course/sublime/5">第五节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/6">
      <img src="/images/Course/sublime.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption">
            <h4>查找</h4>
          </div> 
      </a>
      <a href="/course/sublime/6">第六节</p></a>
    </div>
  </div><br>
  <!-- 第三行视频 -->
    <div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/7">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>究极查找</h4>
          </div> 
      </a>
      <a href="/course/sublime/7">第七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/8">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>控制板</h4>
          </div> 
      </a>
      <a href="/course/sublime/8">第八节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/9">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>右键打开</h4>
          </div> 
      </a>
      <a href="/course/sublime/9">第九节</p></a>
    </div>
  </div><br>
  <!-- 第四行视频 -->
    <div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/10">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>快捷键绑定</h4>
          </div> 
      </a>
      <a href="/course/sublime/10">第十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/11">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>鼠标绑定</h4>
          </div> 
      </a>
      <a href="/course/sublime/11">第十一节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/12">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>宏</h4>
          </div> 
      </a>
      <a href="/course/sublime/12">第十二节</p></a>
    </div>
  </div><br>
  <!-- 第五行视频 -->
    <div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/13">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>Snippet</h4>
          </div> 
      </a>
      <a href="/course/sublime/13">第十三节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/14">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>创建Snippet</h4>
          </div> 
      </a>
      <a href="/course/sublime/14">第十四节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/15">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>安装插件</h4>
          </div> 
      </a>
      <a href="/course/sublime/15">第十五节</p></a>
    </div>
  </div><br>
  <!-- 第六行 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/16">
      <img src="/images/Course/sublime1.png" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>插件推荐</h4>
          </div> 
      </a>
      <a href="/course/sublime/16">第十六节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/17">
      <img src="/images/Course/sublime2.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>创建插件导引</h4>
          </div> 
      </a>
      <a href="/course/sublime/17">第十七节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/18">
      <img src="/images/Course/sublime2.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>简单认识PYTHON</h4>
          </div> 
      </a>
      <a href="/course/sublime/18">第十八节</p></a>
    </div>
  </div><br>
  <!-- 第七行 -->
<div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/19">
      <img src="/images/Course/sublime2.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>sublime API (一）</h4>
          </div> 
      </a>
      <a href="/course/sublime/19">第十九节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/20">
      <img src="/images/Course/sublime2.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>sublime API (二）</h4>
          </div> 
      </a>
      <a href="/course/sublime/20">第二十节</p></a>
    </div>
    <div class="col-sm-4">
      <a href="/course/sublime/21">
      <img src="/images/Course/sublime2.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>添加菜单按钮</h4>
          </div> 
      </a>
      <a href="/course/sublime/21">第二十一节</p></a>
    </div>
  </div><br>

<div class="row">
    <div class="col-sm-4">
      <a href="/course/sublime/22">
      <img src="/images/Course/sublime2.jpg" class="img-responsive" style="width:100%" alt="Image">
          <div class="carousel-caption second">
            <h4>发布插件</h4>
          </div> 
      </a>
      <a href="/course/sublime/22">第二十二节</p></a>
    </div>

  </div>
</div><br>

<!-- 视频知识文字版 -->
<div class="container brief">
  <h2>Sublime课程概述</h2>
  <p>一个具有漂亮的界面和强大的功能的代码编译器</p>
  <div class="panel-group">
  <!-- 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第一节：常规操作</div>
      <div class="panel-body">在项目文件夹中，单击选择文件，双击把文件添加到标签栏<br>
      control + z 撤销操作，control ＋ y 取消撤销的造作<br>
      control + alt + m 选取大括号中的内容（Mac:control + shift + m)<br>
      control + shift + a 选取两个标签中的内容(Mac:shift + command + a)<br>
      control + 放大字体<br>
      control - 缩小字体<br>
      通过鼠标右键查看文件更改前后区别
      </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二节：窗口 视图 主题</div>
      <div class="panel-body">状态栏右下脚可以改变目标代码语法格式
      <br>通过菜单栏：view(视图) -> layout(布局) 增加编译窗口
      <br>通过Preference(偏好) -> Color Scheme(色彩组合）改变窗口样式【Mac:在菜单栏sublime text下，Windows在菜单栏Preferences下】</div>
    </div>
    <!-- 3 -->
    <div class="panel panel-default">
      <div class="panel-heading">第三节：行操作</div>
      <div class="panel-body">control + l 选择当前行的内容
      <br>control + alt + ⬆️和⬇️  上下移动当前行的内容(Mac:command + control + ⬆️和⬇️)
      <br>control + [ 和 ]  左右缩进当前行的内容
      <br>control + delete  删除当前行的内容
      </div>
    </div>
    <!-- 4 -->
     <div class="panel panel-default">
      <div class="panel-heading">第四节：光标操作</div>
      <div class="panel-body">按住control点击鼠标左键可以操作多个光标
      <br>按住alt拖动鼠标可以把光标拖动到多行
      <br>选中按住control + shift + l 行尾操作多个光标
      <br>把行尾多个光标移动到行首(行尾），点击home（end）键（Mac：command + 左箭头或右箭头)
      <br><span style="color:red">这次课程录时紧张了，两处口误：1，多个光标只能输入相同的文字；2，最后是把光标移动到行首</span>
      </div>
    </div>
    <!-- 5 -->
    <div class="panel panel-default">
      <div class="panel-heading">第五节：缩进</div>
      <div class="panel-body">选中缩进区域，通过Eidt(编辑) -> line(行) -> Reindent(递归缩进)
      <br>control + shift + v 可以智能缩进粘贴
      </div>
    </div>
    <!-- 6 -->
    <div class="panel panel-default">
      <div class="panel-heading">第六节：查找</div>
      <div class="panel-body">control + f 普通查找
      <br>control + d 查找光标所在字符
      <br>control + i 查找后快速更改
      <br>control + alt + g 选中全部查找内容（Mac：control + command + g)
      <br>control + shift + f 查找指定文件夹中所包含的内容
      <br>control + g 查找行号 (Mac: control + g)
      </div>
    </div>
    <!-- 7 -->
    <div class="panel panel-default">
      <div class="panel-heading">第七节：究极查找</div>
      <div class="panel-body">control + p 打开究极查找输入框
      <br>输入“文件名” 查找整个sublime中的文件
      <br>输入“文件名” + @ 查找文件中的方法或选择器
      <br>输入“文件名” + # 查找文件中的内容
      <br>输入“文件名” + ： 找到对应的行号 
      <br>Esc退出究极查找
      </div>
    </div>
    <!-- 8 -->
    <div class="panel panel-default">
      <div class="panel-heading">第八节：控制板</div>
      <div class="panel-body">control + shift + p  调出控制板
      <br>Set Syntax: 设置目标代码语法格式
      <br>Sort Lines: 按字母排列顺序
      <br>Convert Case: 改变大小写
      <br>以及其他sublime 控制命令
      <br>Esc退出控制板
      <br>
      </div>
    </div>
    <!-- 9 -->
    <div class="panel panel-default">
      <div class="panel-heading">第九节：右键打开</div>
      <div class="panel-body">Windows：
      <br>在下方下载区域（那年程序员上方）下载sublime.reg文件，双击后在windows中则可使用右键打开
      <br><a href="/downloads/Sublime.reg" download><img src="/images/other/download.png">下载sublime.reg文件</a>
      <br>Mac:
      <br>1.打开Automater -> service（服务）
      <br>2.在左上方搜索框中，输入“shell”
      <br>3.把搜索到的运行shell脚本标志拖动到右侧的窗口中
      <br>4.在拖入后出现的小窗口中，输入：/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl -n $@
      <br>5.选择“shell：”后的下拉菜单为：/bin/zsh, 后边的“传递输入”：选择作为自变量
      <br>6.“服务收到选定”的下拉菜单中选择“文件或文件夹”
      <br>7.取个名字保存，‘command + s’.
      <br>8.文件夹右键 -> 服务 -> 所取的名字就能使用sublime打开

      </div>
    </div>
    <!-- 10 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十节：快捷键绑定</div>
      <div class="panel-body">打开Preferences -> Key Bindings 文件【Mac:在菜单栏sublime text下，Windows在菜单栏Preferences下】
      <br>快捷键绑定标准格式：{"keys",[""], "command":""}
      <br>查找命令名称：view -> Show Console 然后执行命令
      <br>在输入框中输入sublime.log_commands(True)就可以打印菜单栏命令
      <br>sublime.log_commands(False)关闭打印的命令
      </div>
    </div>
    <!-- 10.1 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十一节：鼠标绑定</div>
      <div class="panel-body"> 通过此网站查看默认鼠标绑定<a href="http://folk.uib.no/hab001/Info100/Sublime%20Text%202.0.2/Data/Packages/Default/Default%20(Windows).sublime-mousemap">http://folk.uib.no/hab001/Info100/Sublime%20Text%202.0.2/Data/Packages/Default/Default%20(Windows).sublime-mousemap</a>
  
      </div>
    </div>
    <!-- 11 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十二节：宏</div>
      <div class="panel-body">开始记录命令：Control + q
      <br>停止记录命令：Control + q
      <br>运行宏：Tools(工具) -> Playback（运行宏）
      <br>记录宏：Tools(工具) -> SaveMacro(保存宏)
      <br>为宏绑定快捷键时需要添加参数，语法为：
      <br>{"keys",[""], "command":"","arg":{"file":文件路径"}
      </div>
    </div>
    <!-- 12 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十三节：Snippets</div>
      <div class="panel-body">通过 tools -> Snippets 查看当前文件可以使用的snippets
      <br>注：不同的文件对应不同的snippets
      </div>
    </div>
    <!-- 13 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十四节：创建Snippets</div>
      <div class="panel-body"> 通过 tools -> developer -> new snippets创见自己的snippets,然后保存为.sublime-snippet形式
      <br>&lt;tabTrigger&gt;引导字符标签&lt;/tabTrigger&gt;
      <br>&lt;scope&gt;对应目标文件语法的snippets&lt;/scope&gt;
      <br>备注：html文件scope为text.html; javascript文件scope为source.js;
      <br>$number: number表示第几个tab光标移到处
      <br>${number:stirng}: number表示第几个tab光标移到处,string表示默认光标
      </div>
    </div>
    <!-- 14 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十五节：安装插件</div>
      <div class="panel-body">control + shift + p 打开控制板
      <br>输入install Package安装插件
      <br>输入Remove Package删除插件
      </div>
    </div>
    <!-- 15 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十六节：插件推荐</div>
      <div class="panel-body">Emmet插件（适合编译html和css）
      <br>如：ul>li*4>a
      <br>如：(header.intaHeader>h1+nav>ul>li*5>a)+(div.intaBody>div.main+aside.sidebar)+(footer.intaFooter>p)
      <br>如：CSS简写display:block => db; margin-right:10=>mr10;等
      <br>AdvancedNewFile插件 （方便保存文件）
      <br>如：创建新的文件：command + alt + n 直接输入路径就可以创建文件
      <br>SublimeLinter插件 （检查JAVA，javascript，PHP等语言语法错误）
      <br>安装完SublimeLinter以后，需继续安装Linter指定的语法检查插件，才能检查相关的语法错误
      <br>在安装jshint检查javascript语法时需要安装node.js和jshint模块（npm install -g jshint)
      <br>安装完毕以后需要重启sublime
      </div>
    </div>

    <!-- 16 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十七节：创建插件导引</div>
      <div class="panel-body">sublime 的插件使用python写的
      <br>通过control + ` 打开控制台，可以运行view.run_command('example')
      <br>同样可以通过绑定快捷键运行
      </div>
    </div>

    <!-- 17 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十八节：简单认识PYTHON</div>
      <div class="panel-body">print (): 打印信息
      <br>运行python: command + b
      <br>import :引入文件
      <br>函数语法：def functionname( parameters ): return value
      <br>创建类语法：class ClassName:
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def __init__(self): #构造函数
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def functionname (self,parameters): #定义方法
      <br>继承语法： class ClassName(parentCalssName):
      </div>
    </div>

    <!-- 18 -->
    <div class="panel panel-default">
      <div class="panel-heading">第十九节：sublime API（一）</div>
      <div class="panel-body">sublime和sublime_plugin是模块
      <br>sublime位置：/Applications/Sublime Text.app/Contents/MacOS/sublime.py
      <br>sublime_plugin位置：/Applications/Sublime Text.app/Contents/MacOS/sublime_plugin.py
      <br> 模块就是一个用python代码写的文件，其中包括函数，类和变量，也可以包含可运行的代码
      <br><a href="/downloads/Sublime Text API.pdf" download><img src="/images/other/download.png">下载Sublime Text API文件</a>
      </div>
    </div>

    <!-- 19 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二十节：sublime API（二）</div>
      <div class="panel-body">介绍几个简单的接口方法，这些接口方法，都可以在sublime的官网或INTA翻译的接口文档中找到。
      <br>得到光标的当前位置：self.view.sel()[0].begin()
      <br>查找文件中的内容：self.view.find("匹配的字符", 从哪个位置开始匹配)
      <br>把光标移动到指定位置：self.view.sel().add(Sublime.Region(a,b))
      </div>
    </div>
    <!-- 19 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二十一节：添加菜单按钮</div>
      <div class="panel-body">
      在菜单栏中添加按钮：Main.sublime-menu
      <br>在边栏中添加按钮：Side Bar.sublime-menu
      <br>鼠标右键添加按钮：Context.sublime-menu
      <br><a href="http://docs.sublimetext.info/en/latest/customization/menus.html">在sublime其他位置添加按钮</a>
      </div>
    </div>
    <!-- 21 -->
    <div class="panel panel-default">
      <div class="panel-heading">第二十二节：发布插件</div>
      <div class="panel-body">一般情况下，我们会通过git把开发的插件合并到sublime的Package Control Channel中，成功合并后，就能直接在控制板中下载
      <br>1. 把sublime包文件上传到github仓库中
      <br>2. FORK Package Control Channel(参见git课程)
      <br>3. 通过git克隆FORK到本地计算机中
      <br>4. 使用sublime 打开package_control_channel文件夹,在repository文件夹中，把创建的plugin信息到对应的文件中（可参见视频）
      <br>5. 安装 ChannelRepositoryTools 包并运行Test Default Channel command 成功后进入下一步
      <br>6. 创建pull request
      </div>
    </div>
    <!-- 19 -->
  </div>
</div>
<!-- 技术史 -->
<div class="container">
  <h2>那年程序员</h2>
  <p>说它免费它也不免费，说它轻量级它也不轻量级</p>
  <blockquote>
    <p>2007年，Jon Skinner在google的工作都不干了，就为了追寻他的中国梦，错了，是他的美国梦。就是创建一款简洁，美观，漂亮，大方，易操作，易理解，易学习轻量级的文本编辑器 -- Sublime Text。当然对于一个google的软件工程师来说开发一个小小的文本编辑器还是信手拈来的，关键在于，如何开发一个让程序员使用起来比较舒服的文本编译器。其实sublime text的整体设计围绕的就是两个字“舒爽”。节约出屏幕大部分的空间都是用于文本编译，不像有些编辑器，整个窗口都在卖弄自己的功能，这些功能扎根在屏幕的每一个角落，给人的感觉好不复杂。而Jon Skinner知道给用户怎样的体验，而这种体验也正是INTA课程的思想模式:呈现最本质的内容，一切皆为易。  </p>
    <footer style="color: #fba43b;">INTA for Sublime Text</footer>
  </blockquote>
</div>


<!-- 下面是footer部分 -->
  <footer class="container-fluid text-right">
     <div style="margin: 0;padding: 0;">
   <img src="/images/point.png" style="width: 100px;height: 40px;" />
   </div>
  </footer>

</body>
</html>